{% extends "layout.html" %}



{% block content %}




<section class="caja1">
    <div class="contenedor">
        <h1>Estudiante De Ingenieria Informatica Junior En Desarrollo Web</h1>
        


</section>


<section id="boletin">
    <div class="contenedor">
        <h1>Suscribete a nuestro boletin</h1>
        <form>
            <input type="email" name="email" placeholder="Ingrese el email...">
            <button type="submit" class="boton1">Suscribete</button>
        </form>
    </div>
</section>

<section id="cajas">
    <div class="contenedor">
        <h1>Conocimientos Basicos</h1>
        <div class="caja">
            <img src="../static/imgs/logo_html.png" alt="">
            <h3>HTML5</h3>
            <p> HTML es el lenguaje que se emplea para el desarrollo de páginas de internet. Está compuesto por una seríe de etiquetas que el navegador interpreta y da forma en la pantalla.</p>
        </div>
        <div class="caja">
            <img src="../static/imgs/logo_css.png" alt="">
            <h3>CSS3</h3>
            <p> HTML actuaría como es esqueleto de la web, definiendo su estructura básica, y el CSS añadiría toda la capa de personalización sobre el que la web define su aspecto final.</p>
        </div>
        <div class="caja">
            <img src="../static/imgs/javascript.png" alt="">
            <h3>JAVASCRIPT</h3>
            
            <p> JavaScript será la parte de lógica que viene implícita dentro el buscador, por ejemplo, que al escribir algo te muestre ciertos resultados y cuando pinches en el botón submit haga cierta acción.</p>
        </div>
    </div>
</section>


{% endblock %}


    


