{% extends "layout.html" %}


{% block content %}


    <section id="boletin">
      <div class="contenedor">
          <h1>Suscribete a nuestro boletin</h1>
          <form>
              <input type="email" name="email" placeholder="Ingrese el email...">
              <button type="submit" class="boton1">Suscribete</button>
          </form>
      </div>

      
  </section>
  

  <section id="main">
      <div class="contenedor">
        <article id="main-col">
          <h1>Nosotros</h1>
          <p> Morbi tincidunt egestas sollicitudin. Aliquam bibendum bibendum porta. Vivamus placerat enim ac metus congue ultricies. Sed eu nisl vel mi consequat dapibus. Ut quis felis eu elit interdum facilisis. Pellentesque libero risus, sodales sed dui eu, posuere porta mi. Nam varius malesuada facilisis. </p>
          <p class="oscuro">
            Integer ultricies iaculis posuere. Vestibulum molestie convallis sagittis. Cras venenatis molestie nunc, non efficitur ipsum varius sit amet. Mauris ligula mauris, varius sed lectus eget,

          </p>

          <section >
            <h4>Proyectos</h4>
            <div class="content-all">
              <div class="content-carrousel">
               <figure> <img src="../static/imgs/imagen2.jpg" ></figure>
               <figure> <img src="../static/imgs/imagen3.jpg" ></figure>
               <figure> <img src="../static/imgs/img5.jpg" ></figure>
               <figure> <img src="../static/imgs/img3.jpg" ></figure>
               <figure> <img src="../static/imgs/img6.jpg" ></figure>
               <figure> <img src="../static/imgs/imagen7.jpg" ></figure>
               <figure> <img src="../static/imgs/imagen8.jpg" ></figure>
               <figure> <img src="../static/imgs/img1.jpg" ></figure>
               <figure> <img src="../static/imgs/img4.jpg" ></figure>
               <figure> <img src="../static/imgs/img2.jpg" ></figure>
              
              </div>
            </div>
          </section>
          
   

          
        </article>

        <aside id="lateral">
          <div class="oscuro">
            <h3>  Que hacemos </h3>
            <p>In suscipit sapien in dui eleifend cursus ac sed nunc. Nulla scelerisque nisl id arcu ullamcorper, sit amet dictum nisi malesuada. Fusce lacinia iaculis sem, a semper libero sagittis in.</p>
            
          </div>
        </aside>
      </div>
  
  </section>

{% endblock %}