{% extends "layout.html" %}


{% block content %}




        <div class="perfil">
            <img  class="avatar" src="../static/imgs/julian1.jpeg" />
            <h1 class="user-name">Julian</h1>
        </div>
        <div class="container-text">
            <iframe src="https://giphy.com/embed/dz6NpfESnqqcnJH1MY" width="100" height="80" frameBorder="0" class="giphy-embed1" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/rickandmorty-season-4-episode-5-rick-and-morty-dz6NpfESnqqcnJH1MY"></a></p>
            <iframe src="https://giphy.com/embed/dxP1UmiavDWDTR6yYd" width="100" height="80" frameBorder="0" class="giphy-embed2" allowFullScreen></iframe><p><a href="https://giphy.com/stickers/rickandmorty-season-4-episode-5-rick-and-morty-dxP1UmiavDWDTR6yYd"></a></p>
        <ul class="socials">

            <li>
                <i class="icon4 email"></i>
                <a href="mailto:julian.correa.556@unisabaneta.edu.co">julian.correa.556@unisabaneta.edu.co</a>
            </li>
            <li>
                <i class="icon4 facebook"></i>
                <a href="https://www.facebook.com/julian.c.sierra.1?ref=bookmarks">julian.c.sierra</a>
            </li>
            <li>
                <i class="icon4 whatsapp"></i>
                <a href="https://wa.me/573014680579?text= Hola Estoy interesad@ en tu trabajo ">Comunicate conmigo a mi wpp</a>
            </li>
        </ul>
    </div>

        <div class="container">
            <div class="wrapper">
    
                <ul id="sb-slider" class="sb-slider">
                    <li>
                        <img src="../static/imgs/img9.jpg" alt="image1" /></a>
                        <div class="sb-description">
                            <h3>PERFIL</h3>
                        </div>
                    </li>
                    <li>
                        <img src="../static/imgs/ipx.jpg" alt="image2" /></a>
                        <div class="sb-description1">
                            <P>Me caracterizo por ser una persona     eficiente, que le gusta meterse a fondo con cualquier trabajo o proyecto      que tenga en mente, me gusta el conocimiento,
                                Soy una persona que trabaja en equipo o individual mente dado el caso
                               
                               Soy bachiller académico y adelanto estudios en la Corporación Universitaria Unisabaneta, en el pregrado de Ingeniería Informática actualmente cursando el Décimo semestre.
                               Tengo actitud y experiencia para trabajar en el área de análisis, diseño y pruebas de un programa de software. Manejo de tecnologías web (html5, php, react, javascript, “entre otras”). Tecnologías nativas móviles como Ionic 4. Controlador de versiones git, base de datos firebase. Se manejar el marco de trabajo Scrum.
                               Me gusta más que todo el frond end, Actual mente hago cursos en udemy con las tecnologías MERN, Angular, bases de datos no relacionales & relacionales.
                               </P>
                        </div>
                    </li>
                    <li>
                        <img src="../static/imgs/img10.jpg" alt="image2" /></a>
                        <div class="sb-description">
                            <h3>REFERENCIAS</h3>
                        </div>
                    </li>
                    <li>
                        <img src="../static/imgs/img14.jpg" alt="image2" /></a>
                        <div class="sb-description1">
                            <P>Gladys Eliana Sierra Restrepo Auxiliar de Enfermería </P>
                            <P> Cel. 3053269619</P>
                                
                            <P> Estefany sierra Restrepo</P>
                            <P>  Enfermera </P>
                            <P>  Cel. 3147956374</P>
                                
                            <P> Liliana María Betancur Vargas </P>
                            <P>  Comerciante</P>
                            <P> Cel. 3147243485</P>
                                
                        </div>
                    </li>
                    <li>
                        <img src="../static/imgs/img11.jpg" alt="image1" /></a>
                        <div class="sb-description">
                            <h3>ESTUDIOS</h3>
                        </div>
                    </li>
                    <li>
                        <img src="../static/imgs/img15.jpg" alt="image1" /></a>
                        <div class="sb-description1">
                            <h2> 2014 </h2>            
                            <h2> Bachiller  </h2>    
                            <h2>  Institución Educativa María Jesús   Mejía </h2>   
                            <h2>  Medellin-colombia     </h2>    
                               
                                <h2>  2020     </h2>                
                                <h2> Ingeniero informático    </h2>    
                                <h2> Corporación universitaria Unisabaneta  </h2>    
                                <h2> Medellin-colombia  </h2>       
                               
                                                <h2>  2014    </h2>                 
                                                <h2>  Diseño e integración multimedia </h2>    
                                                <h2> Sena  </h2>    
                                                <h2> Medellin-colombia  </h2>    
                               
                        </div>
                    </li>
                    <li>
                        <img src="../static/imgs/img11.jpg" alt="image1" /></a>
                        <div class="sb-description">
                            <h3>CONOCIMIENTOS</h3>
                        </div>
                    </li>
                    <li>
                        <img src="../static/imgs/img15.jpg" alt="image1" /></a>
                        <div class="sb-description1">
                            <h2> 2014 </h2> 
                </ul>
    
                <div id="nav-arrows" class="nav-arrows">
                    <a href="#">Next</a>
                    <a href="#">Previous</a>
                </div>
    
            </div>
        </div>

        

    
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/jquery.slicebox.js"></script>
    <script src="../static/js/script-1.0.js"></script>


         
  
{% endblock %} 
